
<div id = 'main'>
  <ul class="nav nav-tabs" id="myTab">
    <li <% if params[:audit] == '0' %>class="active" <% end %>><%= link_to "团队", teams_url(audit: 0) %></li>
    <li<% if params[:audit] == '1' %> class="active" <% end %>><%= link_to "个人", person_registrations_url(audit: 1) %></li>
  </ul>
  <script>
    $(function () {
      $('#myTab a:last').tab('show');
    })
  </script>
  <div class="row-fluid">
    <div class="span10">
      <div class="box box-color box-bordered" id="home">
        <div class="box-title">
          <h3>团队信息</h3>
        <div style="float:right; padding-right:2px;">
          <% if @teams.map {|team| team.state}.include?("冠军")%>
          <%= link_to '查看名次',show_postion_teams_path,:class =>'btn btn-primary btn-large',:target=>'_blank'%>
          <%end%>

          <% if @teams.count != 0 %>
          <%= link_to '随机分组',subgroup_teams_path,:class =>'btn btn-primary btn-large'%>
          <%end%>
        </div>
        </div>
        <div class="box-content nopadding">
          <table class="table dataTable table-hover table-nomargin table-bordered">
            <thead>
              <tr>
                <th>团队名字</th>
                <th>队长</th>
                <th>成员数量</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>

              <% @teams.each do |team| %>
                <tr>
                  <td><%= team.name %></td>
                  <td>
                    <%  if team.registrations.leader.first  %>
                      <%=team.registrations.leader.first.name %>
                    <%else%>
                      <%= '无队长'%>
                    <%end%>
                  </td>
                  <td><%= team.registrations.count %></td>
                  <td>
                    <%= link_to '查看队员', team,:class => 'btn btn-small' %>
                    <%= link_to '删除', team, method: :delete, data: { confirm: '确定删除?' },:class => 'btn btn-danger btn-small' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

