<h2>修改密码</h2>

<div id='main'>
<%= form_for(resource, as: resource_name, url: update_user_registration_path(), html: { method: :put }) do |f| %>

  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :用户名%><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :当前密码%> <i>(请输入当前使用的密码)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :密码%><i>(请输入新的密码)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :确认密码 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "确定",:class => 'btn btn-primary' %>
    <%= link_to  "返回", :back,:class => 'btn btn-warning' %>
  </div>
<% end %>

  </div>

