<div id ="main">
  <div class="row-fluid">
    <div class="span10">
      <div class="box box-color box-bordered">
        <div class="box-title">
          <h3>
            <i class="icon-user"></i>
            个人信息填写
          </h3>
        </div>
        <div class="box-content nopadding">
          <ul class="tabs tabs-inline tabs-top">
            <li class='active'>
            <a href="#profile" data-toggle='tab'><i class="icon-user"></i>个人信息</a>
            </li>
            <li>
            <a href="#notifications" data-toggle='tab'><i class="icon-bullhorn"></i> Notifications</a>
            </li>
            <li>
            <a href="#security" data-toggle='tab'><i class="icon-lock"></i> Security</a>
            </li>
          </ul>
          <div class="tab-content padding tab-content-inline tab-content-bottom">
            <div class="tab-pane active" id="profile">
              <%= form_for(@person_registration,:html=>{:class =>' form-validate'}, :remote => true) do |f| %>
                <div class="row-fluid">
                  <div class="span2">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="max-width: 200px; max-height: 150px;"><img src="/assets/demo/user-1.jpg" /></div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name='imagefile' /></span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="span10">
                    <div class="control-group">
                      <label for="name" class="control-label right">*姓名:</label>
                      <div class="controls">
                        <%= f.text_field :name,{'data-rule-required'=>"true", :class => 'input-middle'}%>
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="name" class="control-label right">*身份证号码:</label>
                      <div class="controls">
                        <%= f.text_field :id_card,{'data-rule-required'=>"true", :class => 'input-middle'}%> 
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="name" class="control-label right">*QQ号码:</label>
                      <div class="controls">
                        <%= f.text_field :qq,{'data-rule-required'=>"true", :class => 'input-middle'}%> 
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="pw" class="control-label right">*电话:</label>
                      <div class="controls">
                        <div class="form-button">
                          <%= f.text_field :phone, {'data-rule-required'=>"true", :class => 'input-middle'}%>
                        </div>
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="country" class="control-label right">年龄:</label>
                      <div class="controls">
                        <%= f.text_field :age, :class => 'input-small'%>
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="name" class="control-label right">性别:</label>
                      <div class="controls">
                        <%= f.radio_button :sex,'boy'%> 男
                        <%= f.radio_button :sex,'girl'%> 女
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="xemail" class="control-label right">Email:</label>
                      <div class="controls">
                        <%= f.text_field :email, :class => 'input-large',:value=>"j.doe@johndoeemail.com"%>
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="pw" class="control-label right">地址:</label>
                      <div class="controls">
                        <div class="form-button">
                          <%= f.text_field :address, :class => 'input-xlarge'%>
                        </div>
                      </div>
                    </div>

                    <div class="form-actions">
                      <input type="submit" class='btn btn-primary' value="提交">
                    </div>

                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
